<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>About</title>
</head>
<body>

    <div class="space">
        <a class="text" href="/templates/index.html"> Home </a> 
        <a class="text" href="/templates/signin.html"> Sign In </a>
        <a class="text" href="/templates/signup.html"> Sign Up </a>
    </div>
    
    <h2 class="home"> About </h2>

    <p>refers to the process of ordering, storing, using, and selling a company's inventory.
     This includes the management of raw materials, components, and finished products, as well as 
     warehousing and processing of such items.</p>

</body>
</html>