<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Management</title>
        <link rel="stylesheet" href="{{url_for('static', filename='ind.css')}}">
    </head>
    <body>
        <div class="header">
            <img class="margin" src="{{url_for('static', filename='Logo.webp')}}">
            <div class="space"></div>
            <div class="account">
                <a href="/login"><img class="acc_icon" src="{{url_for('static', filename='acc_icon.webp')}}"> </a>
            </div>
        </div>
        <br>
        <p class="title">INVENTORY MANAGEMENT</p>
        <p class="title1">About:</p>
        <p class="about">Inventory management refers to the process of ordering, storing, using, and 
            selling a company's inventory. This includes the management of raw materials, components, 
            and finished products, as well as warehousing and processing of such items.</p>
        <p class="about1">Effective inventory management enables businesses to balance the amount of inventory they have
             coming in and going out. The better a business controls its inventory, the more money it can save in business 
             operations.</p>

        <p class="about2">A business that has too much stock has overstock. Overstocked businesses have money tied
            up in inventory, limiting cash flow and potentially creating a budget deficit. This overstocked inventory, 
            which is also called dead stock, will often sit in storage, unable to be sold, and eat into a business's profit 
            margin.</p>
        <p class="about3">Globalization, technology and empowered consumers are changing the way businesses manage inventory.
             Supply chain operators will use technologies that provide significant insights into how supply chain performance 
             can be improved. They’ll anticipate anomalies in logistics costs and performance before they occur and have
            insights into where automation can deliver significant scale advantages</p>
    </body>
</html>